body{
    font-family: "Cabin", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-color: black;
    min-height: 60px;
    display: flex;
    align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #fffdfc;
    font-size: 25px;
    font-weight: 800px;
    transition: color 0.3s ease;
}

.logo:hover{
    color: #ff3377;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
    transition: color 0.3s ease;
}

.menu .navbar ul li a:hover{
    color: #ff3377;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.footer{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
    height: 100px;
    text-align: center;

}

.footer h3{
    color: #fffdfc;
    margin-top: 30px;
}