:root{
    --principal: #fa1e6d;
    --principalClaro: #ff347f;
    --blanco: #f8f8ff;
    --grisClaro: #dfdfdf;
    --grisOscuro: #414141;
    --fuentePrincipal: "Cabin";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Cabin", sans-serif;
    background-color: var(--blanco);
}

h1{
    font-size: 75px;
}

h2{
    font-size: 50px;
}

h3{
    font-size: 40px;
}

h4{
    font-size: 25px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    

    background-image: linear-gradient(to right, #103ce7, #64e9ff);
    

    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: var(--blanco);
    font-size: 25px;
    font-weight: 800px;
    transition: color 0.3s ease;
}

.logo:hover{
    color: var(--principal);
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: var(--blanco);
    display: block;
    font-weight: 600;
    transition: color 0.3s ease;
}

.menu .navbar ul li a:hover{
    color: var(--principal);
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    text-align: center;
}

.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: var(--blanco);
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p{
    font-size: 16px;
    color: #e6e6e6;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: var(--principal);
    color: var(--blanco);
    text-transform: uppercase;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.btn-1:hover{
    background-color: var(--principalClaro);
}

.card-container{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 60px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: var(--blanco);
}

.card{
    text-align: center;
    color: var(--grisOscuro);
    padding: 30px;
    width: 350px;
    height: 300px;
    /*border: 1px solid var(--grisClaro);*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}



/*.card1{
    background: linear-gradient(45deg, rgba(0,138,255,1) 0%, rgba(0,255,179,1) 100%);
}

.card2{
    background: linear-gradient(45deg, rgba(255,79,53,1) 0%, rgba(255,47,90,1) 100%);
}

.card3{
    background: linear-gradient(45deg, rgba(31,98,252,1) 0%, rgba(171,44,254,1) 100%);
}
*/

.info-card{
    transition: transform 0.3s ease;
}

.info-card:hover{
    transform: scale(1.05);
}

.card img{
    width: 100px;
    padding-bottom: 20px;
}

.card h2{
    text-transform: uppercase;
    padding-bottom: 20px;
    color: white;
}

.footer{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
    height: 100px;
    text-align: center;

}

.footer__titulo{
    color: var(--blanco);
    margin-top: 30px;
    font-size: 20px;
}