:root{
    --principal: #fa1e6d;
}

body{
    font-family: "Cabin", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-color: black;
    min-height: 60px;
    display: flex;
    align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #fffdfc;
    font-size: 25px;
    font-weight: 800px;
    transition: color 0.3s ease;
}

.logo:hover{
    color: var(--principal);
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
    transition: color 0.3s ease;
}

.menu .navbar ul li a:hover{
    color: var(--principal);
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: var(--principal);
    color: #fffdfc;
    text-transform: uppercase;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.btn-1:hover{
    background-color: #ff4885;
}

.footer{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
    height: 100px;
    text-align: center;

}

.footer h3{
    color: #fffdfc;
    margin-top: 30px;
}

.info{
    width: 700px;
    margin: auto;
    padding: 30px;
}

.eventos{
    background-image: linear-gradient(to right, #103ce7, #64e9ff);
    padding: 30px;
    text-align: center;
}

.eventos img{
    width: 300px;
    height: 200px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.event-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
}

.event-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    width: 400px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.event-card p{
    width: 300px;
}

.titulo{
    margin-bottom: 30px;
    font-size: 30px;
}

.menus{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menus h2{
    margin-top: 45px;
}

.menus img{
    border-radius: 16px;
    width: 300px;
    height: 180px;
}

.menu-container{
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.menu-card{
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 25px;
}

.menu-card h3{
    margin-bottom: 20px;
}

.menu-detalles{
    display: flex;
    align-items: center;
    gap: 30px;
}

